a {
  text-decoration: none; }

.modal {
  background: #FFFFFF;
  border-radius: 4vw;
  box-shadow: 0 0 7px 0 black;
  font-family: 'Lato', sans-serif;
  height: 75vh;
  padding: 45px;
  position: relative;
  text-align: center;
  width: 75vw;
  z-index: -1; }

.backgroundImage {
  background: #FFFFFF no-repeat top;
  background-size: cover;
  height: 75vh;
  opacity: 0.1;
  position: absolute;
  width: 75vw;
  z-index: -1; }

.overlay {
  align-items: center;
  backdrop-filter: blur(2px);
  background-color: rgba(40, 40, 40, 0.7);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3; }

.topSection {
  height: 100%;
  overflow: auto;
  overflow-y: overlay;
  padding: 0 8px; }

.closeButton {
  background-color: mediumpurple;
  border-radius: 8px;
  color: #FFFFFF;
  display: block;
  height: 24px;
  line-height: 24px;
  padding: 4px;
  position: absolute;
  right: 2vw;
  top: 2vh;
  width: 24px; }
  .closeButton:hover {
    cursor: pointer; }

.icon {
  max-width: 200px;
  width: 20vw; }

.title {
  color: black;
  font-family: 'Prompt', sans-serif;
  font-size: 5vw;
  margin-bottom: 20px; }

@media screen and (max-width: 480px) {
  .title {
    font-size: 24px; } }

@media screen and (min-width: 960px) {
  .title {
    font-size: 48px; } }

.details {
  margin-bottom: 20px; }

.link {
  background-color: mediumpurple;
  border-radius: 8px;
  color: #FFFFFF;
  display: block;
  margin: 8px auto;
  padding: 10px;
  width: fit-content; }
  .link:hover {
    cursor: pointer; }

.bulletSection {
  padding-top: 50px; }

.bullet {
  padding-bottom: 6px; }

.lineContainer {
  animation-delay: 1s;
  height: 8px;
  margin: 0 auto;
  width: 10vw; }
  .lineContainer:last-child {
    display: none; }

.line {
  margin: 0 auto;
  stroke-width: 4px;
  stroke: black; }

.more {
  bottom: 2vh;
  height: 24px;
  position: absolute;
  right: 45px;
  width: 24px;
  z-index: 3; }
  .more:hover {
    cursor: pointer; }

.bottomSection {
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  width: 100%; }

.backButton {
  background-color: mediumpurple;
  border-radius: 8px;
  color: #FFFFFF;
  margin: 8px;
  padding: 10px; }
  .backButton:hover {
    cursor: pointer; }

.backButtonAdjustment {
  display: inline-block;
  padding: 8px; }
