$baseSizeVw: 10vw;
$baseSizePx: 72px;

.footer {
  color: #FFFFFF;
  min-height: 45vh;
  overflow: hidden;
  padding: 24px;
  position: relative;
  text-align: center;
}

.background {
  height: 220%;
  right: 0;
  opacity: 0.9;
  position: absolute;
  top: -38%;
  transform: scaleY(-1);
  width: 120%;
  z-index: -1;
}

.footerTitle {
  font-family: 'Acme', sans-serif;
  font-size: 0.6 * $baseSizeVw;
  padding: 16px;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .footerTitle {
     font-size: 0.6 * $baseSizePx;
  }
}
