.footer {
  color: #FFFFFF;
  min-height: 45vh;
  overflow: hidden;
  padding: 24px;
  position: relative;
  text-align: center; }

.background {
  height: 180%;
  right: 0;
  opacity: 0.7;
  position: absolute;
  top: -30%;
  transform: scaleY(-1);
  width: 120%;
  z-index: -1; }

.footerTitle {
  font-family: 'Pacifico', cursive;
  font-size: 5vw;
  padding: 16px;
  text-align: center; }

@media screen and (min-width: 720px) {
  .footerTitle {
    font-size: 36px; } }
