$wordHeightVw: 5vw;
$wordHeightPx: 36px;

.container {
  display: flex;
  font-size: 3/5 * $wordHeightVw;
  height: $wordHeightVw;
  margin: 0 auto;
  padding-left: 2 * $wordHeightVw;
  padding-top: 3/5 * $wordHeightVw;
  position: relative;
  text-align: center;
  width: 10 * $wordHeightVw;
}
.anchor {
  height: $wordHeightVw;
  left: 0;
  margin: 0;
  position: relative;
  top: 0;
  width: 8/5 * $wordHeightVw;
}
.rotateSection {
  float: left;
  overflow: hidden;
  position: relative;
  height: $wordHeightVw;
  top: 0;
}

.cycleWords {
  display: inline-block;
  color: lime;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;

  /*animation*/
  -webkit-animation:move 10s;
     -moz-animation:move 10s;
      -ms-animation:move 10s;
       -o-animation:move 10s;
          animation:move 10s;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count:infinite;
     -moz-animation-iteration-count:infinite;
      -ms-animation-iteration-count:infinite;
       -o-animation-iteration-count:infinite;
          animation-iteration-count:infinite;
  /*animation-delay*/
  -webkit-animation-delay:2s;
     -moz-animation-delay:2s;
      -ms-animation-delay:2s;
       -o-animation-delay:2s;
          animation-delay:2s;
}

.word {
  height: $wordHeightVw;
  text-align: left;
}

@keyframes move {
    0%    { top: 0; }
    12.5% { top: -$wordHeightVw; }
    25%   { top: -2 * $wordHeightVw; }
    37.5% { top: -3 * $wordHeightVw; }
    50%   { top: -4 * $wordHeightVw; }
    62.5% { top: -5 * $wordHeightVw; }
    75%   { top: -6 * $wordHeightVw; }
    87.5% { top: -7 * $wordHeightVw; }
}

@media screen and (min-width: 720px) {
  .container {
    display: flex;
    font-size: 3/5 * $wordHeightPx;
    height: $wordHeightPx;
    margin: 0 auto;
    padding-left: 2 * $wordHeightPx;
    padding-top: 3/5 * $wordHeightPx;
    position: relative;
    text-align: center;
    width: 10 * $wordHeightPx;
  }
  .anchor {
    height: $wordHeightPx;
    left: 0;
    margin: 0;
    position: relative;
    top: 0;
    width: 8/5 * $wordHeightPx;
  }
  .rotateSection {
    float: left;
    overflow: hidden;
    position: relative;
    height: $wordHeightPx;
    top: 0;
  }

  .cycleWords {
    display: inline-block;
    color: lime;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;

    /*animation*/
    -webkit-animation:move 10s;
       -moz-animation:move 10s;
        -ms-animation:move 10s;
         -o-animation:move 10s;
            animation:move 10s;
    /*animation-iteration-count*/
    -webkit-animation-iteration-count:infinite;
       -moz-animation-iteration-count:infinite;
        -ms-animation-iteration-count:infinite;
         -o-animation-iteration-count:infinite;
            animation-iteration-count:infinite;
    /*animation-delay*/
    -webkit-animation-delay:2s;
       -moz-animation-delay:2s;
        -ms-animation-delay:2s;
         -o-animation-delay:2s;
            animation-delay:2s;
  }

  .word {
    height: $wordHeightPx;
    text-align: left;
  }

  @keyframes move {
      0%    { top: 0; }
      12.5% { top: -$wordHeightPx; }
      25%   { top: -2 * $wordHeightPx; }
      37.5% { top: -3 * $wordHeightPx; }
      50%   { top: -4 * $wordHeightPx; }
      62.5% { top: -5 * $wordHeightPx; }
      75%   { top: -6 * $wordHeightPx; }
      87.5% { top: -7 * $wordHeightPx; }
  }
}
