$wordHeightVw: 5vw;
$wordHeightPx: 42px;

.container {
  display: flex;
  font-size: 3/5 * $wordHeightVw;
  height: $wordHeightVw;
  margin: 0 auto;
  padding-left: 2 * $wordHeightVw;
  padding-top: 3/5 * $wordHeightVw;
  position: relative;
  text-align: center;
  width: 10 * $wordHeightVw;
}

.anchor {
  height: $wordHeightVw;
  left: 0;
  margin: 0;
  position: relative;
  top: 0;
  width: 8/5 * $wordHeightVw;
}

.rotateSection {
  float: left;
  overflow: hidden;
  position: relative;
  height: $wordHeightVw;
  top: 0;
}

.cycleWords {
  display: inline-block;
  color: #FFFFFF;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
  animation: move 12s;
  animation-iteration-count:infinite;
  animation-delay: 0s;
}

.word {
  height: $wordHeightVw;
  text-align: left;
}

@keyframes move {
    0%    { top: 0; }
    16.7% { top: 0; }
    33.3% { top: -$wordHeightVw; }
    50%   { top: -2 * $wordHeightVw; }
    66.7% { top: -3 * $wordHeightVw; }
    83.3% { top: -4 * $wordHeightVw; }
}

@media screen and (min-width: 840px) {
  .container {
    font-size: 3/5 * $wordHeightPx;
    height: $wordHeightPx;
    padding-left: 2 * $wordHeightPx;
    padding-top: 3/5 * $wordHeightPx;
    width: 10 * $wordHeightPx;
  }

  .anchor {
    height: $wordHeightPx;
    width: 8/5 * $wordHeightPx;
  }

  .rotateSection {
    height: $wordHeightPx;
  }

  .word {
    height: $wordHeightPx;
  }

  @keyframes move {
    0%    { top: 0; }
    16.7% { top: 0; }
    33.3% { top: -$wordHeightPx; }
    50%   { top: -2 * $wordHeightPx; }
    66.7% { top: -3 * $wordHeightPx; }
    83.3% { top: -4 * $wordHeightPx; }
  }
}
