.container {
  display: flex;
  font-size: 3vw;
  height: 5vw;
  margin: 0 auto;
  padding-left: 10vw;
  padding-top: 3vw;
  position: relative;
  text-align: center;
  width: 50vw; }

.anchor {
  height: 5vw;
  left: 0;
  margin: 0;
  position: relative;
  top: 0;
  width: 8vw; }

.rotateSection {
  float: left;
  overflow: hidden;
  position: relative;
  height: 5vw;
  top: 0; }

.cycleWords {
  display: inline-block;
  color: #FFFFFF;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
  animation: move 12s;
  animation-iteration-count: infinite;
  animation-delay: 0s; }

.word {
  height: 5vw;
  text-align: left; }

@keyframes move {
  0% {
    top: 0; }
  16.7% {
    top: 0; }
  33.3% {
    top: -5vw; }
  50% {
    top: -10vw; }
  66.7% {
    top: -15vw; }
  83.3% {
    top: -20vw; } }

@media screen and (min-width: 840px) {
  .container {
    font-size: 25.2px;
    height: 42px;
    padding-left: 84px;
    padding-top: 25.2px;
    width: 420px; }
  .anchor {
    height: 42px;
    width: 67.2px; }
  .rotateSection {
    height: 42px; }
  .word {
    height: 42px; }
  @keyframes move {
    0% {
      top: 0; }
    16.7% {
      top: 0; }
    33.3% {
      top: -42px; }
    50% {
      top: -84px; }
    66.7% {
      top: -126px; }
    83.3% {
      top: -168px; } } }
