.languages {
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 720px;
  padding-bottom: -2vw;
  padding-top: 2vw;
  height: 100%; }

.titleSection {
  padding: 4vw 0; }

.sectionTitle {
  font-family: 'Prompt', sans-serif;
  font-size: 6vw;
  padding: 2.2vw;
  text-align: center; }
  .sectionTitle:hover {
    background: rgba(40, 40, 40, 0.8);
    cursor: pointer; }

@media screen and (min-width: 720px) {
  .sectionTitle {
    font-size: 43.2px;
    padding: 15.84px; } }
