$baseSizeVw: 10vw;
$baseSizePx: 72px;

.languages {
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 720px;
  padding-bottom: -0.2 * $baseSizeVw;
  padding-top: 0.2 * $baseSizeVw;
  height: 100%;
}

.titleSection {
  padding: 0.4 * $baseSizeVw 0;
}

.sectionTitle {
  font-family: 'Prompt', sans-serif;
  font-size: 0.6 * $baseSizeVw;
  padding: 0.22 * $baseSizeVw;
  text-align: center;

  &:hover {
    background: rgba(40, 40, 40, 0.8);
    cursor: pointer;
  }
}

@media screen and (min-width: 720px) {
  .sectionTitle {
    font-size: 0.6 * $baseSizePx;
    padding: 0.22 * $baseSizePx;
  }
}
