$logoSizeVw: 8.3vw;
$logoSizePx: 60px;

.logo {
  height: $logoSizeVw;
  width: $logoSizeVw;
  margin: (0.1 * $logoSizeVw) (0.5 * $logoSizeVw);
}

.overlay {
background: none;
bottom: 1.25 * $logoSizeVw;
color: rgba(0, 0, 0, 0);
display: block;
height: 1.2 * $logoSizeVw;
line-height: 1.2 * $logoSizeVw;
margin-bottom: -$logoSizeVw;
position: relative;
text-align: center;
width: 100%;
  &:hover {
    background: rgba(40, 40, 40, 0.8);
    color: white;
    cursor: pointer;
  }
}

.name {
  display: inline-block;
  font-size: 0.35 * $logoSizeVw;
  line-height: normal;
  vertical-align: middle;
}

@media screen and (min-width: 720px) {
  .logo {
    height: $logoSizePx;
    width: $logoSizePx;
    margin: (0.1 * $logoSizePx) (0.5 * $logoSizePx);
  }

  .overlay {
  bottom: 1.25 * $logoSizePx;
  height: 1.2 * $logoSizePx;
  line-height: 1.2 * $logoSizePx;
  margin-bottom: -$logoSizePx;
  }

  .name {
    font-size: 0.35 * $logoSizePx;
  }
}
