.header {
  color: #FFFFFF;
  height: 90vh;
  max-height: 120vw;
  overflow: hidden;
  padding: 2vw;
  position: relative;
  text-align: center;
  z-index: 0;
}

.background {
  height: 120%;
  opacity: 0.9;
  position: absolute;
  left: -15%;
  top: 0;
  width: 120%;
  z-index: 0;
}

// .overlaySet {
//   background: none;
//   height: 100%;
//   position: absolute;
//   right: 0;
//   top: 0;
//   width: 100%;
//   z-index: 0;
// }
//
// %overlay {
//   height: 120%;
//   position: absolute;
//   right: 0;
//   top: 0;
//   width: 120%;
//   z-index: 1;
// }
//
// .overlay1 {
//   @extend %overlay;
//   animation: rotate1 5s ease-in-out forwards infinite;
//   opacity: 0.8;
//   transform-origin: 82% 40%;
// }
//
// @keyframes rotate1 {
//   0% {
//     transform: rotate(10deg);
//   }
//   50% {
//     transform: rotate(-10deg);
//   }
//   100% {
//     transform: rotate(10deg);
//   }
// }
//
// .overlay2 {
//   @extend %overlay;
//   animation: rotate2 9s ease-in-out forwards infinite;
//   opacity: 0.5;
//   transform-origin: 25% 40%;
// }
//
// @keyframes rotate2 {
//   0% {
//     transform: rotate(-18deg);
//   }
//   50% {
//     transform: rotate(18deg);
//   }
//   100% {
//     transform: rotate(-18deg);
//   }
// }
//
// .overlay3 {
//   @extend %overlay;
//   animation: rotate3 4.5s ease-in-out forwards infinite;
//   opacity: 0.7;
//   transform-origin: 87% 68%;
// }
//
// @keyframes rotate3 {
//   0% {
//     transform: rotate(-15deg);
//   }
//   50% {
//     transform: rotate(15deg);
//   }
//   100% {
//     transform: rotate(-15deg);
//   }
// }
//
// .overlay4 {
//   @extend %overlay;
//   animation: rotate4 3s ease-in-out forwards infinite;
//   opacity: 0.6;
//   transform-origin: 35% 70%;
// }
//
// @keyframes rotate4 {
//   0% {
//     transform: rotate(-10deg);
//   }
//   50% {
//     transform: rotate(10deg);
//   }
//   100% {
//     transform: rotate(-10deg);
//   }
// }
//
// .overlay5 {
//   @extend %overlay;
//   animation: rotate5 4s ease-in-out forwards infinite;
//   opacity: 0.5;
//   transform-origin: 45% 10%;
// }
//
// @keyframes rotate5 {
//   0% {
//     transform: rotate(-15deg);
//   }
//   50% {
//     transform: rotate(15deg);
//   }
//   100% {
//     transform: rotate(-15deg);
//   }
// }
//
// .overlay6 {
//   @extend %overlay;
//   animation: rotate6 3.5s ease-in-out forwards infinite;
//   opacity: 0.7;
//   transform-origin: 77% 10%;
// }
//
// @keyframes rotate6 {
//   0% {
//     transform: rotate(-20deg);
//   }
//   50% {
//     transform: rotate(20deg);
//   }
//   100% {
//     transform: rotate(-20deg);
//   }
// }
//
// .overlay7 {
//   @extend %overlay;
//   animation: rotate7 5s ease-in-out forwards infinite;
//   opacity: 0.6;
//   transform-origin: 60% 80%;
// }
//
// @keyframes rotate7 {
//   0% {
//     transform: rotate(15deg);
//   }
//   50% {
//     transform: rotate(-15deg);
//   }
//   100% {
//     transform: rotate(15deg);
//   }
// }
//
// .overlay8 {
//   @extend %overlay;
//   animation: rotate8 2.5s ease-in-out forwards infinite;
//   opacity: 0.6;
//   transform-origin: 92% 15%;
// }
//
// @keyframes rotate8 {
//   0% {
//     transform: rotate(22deg);
//   }
//   50% {
//     transform: rotate(-22deg);
//   }
//   100% {
//     transform: rotate(22deg);
//   }
// }
//
// .overlay9 {
//   @extend %overlay;
//   animation: rotate9 2s ease-in-out forwards infinite;
//   opacity: 0.4;
//   transform-origin: 30% 10%;
// }
//
// @keyframes rotate9 {
//   0% {
//     transform: rotate(15deg);
//   }
//   50% {
//     transform: rotate(-15deg);
//   }
//   100% {
//     transform: rotate(15deg);
//   }
// }

.profilePic {
  border-radius: 100%;
  filter: grayscale(50%);
  height: 50%;
  margin-top: 15vh;
  max-height: 350px;
  z-index: 3;
}

.title {
  font-family: 'Prompt', sans-serif;
  font-size: 7.5vw;
  margin: 1.5vw auto;
}

@media screen and (min-width: 720px) {
  .title {
     font-size: 54px;
  }
}
