.header {
  color: #FFFFFF;
  height: 90vh;
  max-height: 120vw;
  overflow: hidden;
  padding: 2vw;
  position: relative;
  text-align: center;
  z-index: 0; }

.background {
  height: 120%;
  opacity: 0.9;
  position: absolute;
  left: -15%;
  top: 0;
  width: 120%;
  z-index: 0; }

.profilePic {
  border-radius: 100%;
  filter: grayscale(30%);
  height: 50%;
  max-height: 350px;
  z-index: 3; }

.title {
  font-family: 'Comfortaa', cursive;
  font-size: 7.5vw;
  margin: 0 auto;
  margin-bottom: 1.5vh; }

@media screen and (min-width: 720px) {
  .title {
    font-size: 54px; } }
