.circleSection {
  margin-top: -45vw;
  z-index: -1; }

.titleSection {
  margin: 2vw 0;
  padding: 2vw 0; }

.sectionTitle {
  font-family: 'Pacifico', cursive;
  font-size: 5vw;
  padding: 2.2vw;
  text-align: center; }
  .sectionTitle:hover {
    background: rgba(40, 40, 40, 0.8);
    cursor: pointer; }

.sectionTitleCircle {
  border-radius: 40vw;
  display: block;
  font-family: 'Pacifico', cursive;
  font-size: 5vw;
  height: 40vw;
  line-height: 40vw;
  margin: 0 auto;
  padding: 2.2vw;
  position: relative;
  text-align: center;
  top: 68vw;
  width: 40vw;
  z-index: 1; }
  .sectionTitleCircle:hover {
    background: rgba(40, 40, 40, 0.8);
    cursor: pointer; }

.iconRow {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 5vw 10vw;
  width: 80vw;
  z-index: -1; }

.iconRowWide {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0vw 4vw;
  width: 92vw;
  z-index: -1; }

@media screen and (min-width: 720px) {
  .circleSection {
    margin-top: -324px; }
  .sectionTitle {
    font-size: 36px;
    padding: 15.84px; }
  .sectionTitleCircle {
    border-radius: 288px;
    font-size: 36px;
    height: 288px;
    line-height: 288px;
    padding: 15.84px;
    top: 489.6px;
    width: 288px; }
  .iconRow {
    justify-content: space-evenly;
    padding: 36px 72px;
    width: 576px; }
  .iconRowWide {
    padding: 0px 28.8px;
    width: 662.4px; } }
