$baseSizeVw: 10vw;
$baseSizePx: 72px;

.circleSection {
  margin-top: -4.5 * $baseSizeVw;
  z-index: -1;
}

.titleSection {
  padding: 4vw 0;
}

.sectionTitle {
  font-family: 'Comfortaa', cursive;
  font-size: 0.6 * $baseSizeVw;
  padding: 0.22 * $baseSizeVw;
  text-align: center;

  &:hover {
    background: rgba(40, 40, 40, 0.8);
    cursor: pointer;
  }
}

.sectionOpen {
  font-family: 'Comfortaa', cursive;
}

.chart {
  display: inline-flex;
  justify-content: center;
  margin: 0 auto;
  opacity: 0.8;
  position: relative;
  text-align: center;
  top: 1.8 * $baseSizeVw;
  width: 100%;
  z-index: -1;
}

.circleDraw {
  animation: showTop 1s;
  height: 5.6 * $baseSizeVw;
  left: 50%;
  margin: 0 auto;
  padding: 0.22 * $baseSizeVw;
  position: absolute;
  stroke-dashoffset: 3 * $baseSizeVw;
  text-align: center;
  transform: rotate(360deg) translate(-50%);
  width: 5.6 * $baseSizeVw;
  z-index: -1;
}

.outer {
  animation-play-state: running;
  fill: transparent;
  opacity: 0.8;
  stroke: #FFFFFF;
  stroke-width: 0.2 * $baseSizeVw;
  transition: stroke-dashoffset 4.5s;
  z-index: -1;
}

@keyframes showTop {
  from {
    stroke-dashoffset: 17 * $baseSizeVw;
  }
}

.sectionTitleCircle {
  border-radius: 4 * $baseSizeVw;
  display: block;
  font-family: 'Comfortaa', cursive;
  font-size: 0.6 * $baseSizeVw;
  height: 4 * $baseSizeVw;
  line-height: 4 * $baseSizeVw;
  margin: 0 auto;
  padding: 0.22 * $baseSizeVw;
  position: relative;
  text-align: center;
  top: 7.1 * $baseSizeVw;
  width: 4 * $baseSizeVw;
  z-index: 1;

  &:hover {
    background: rgba(40, 40, 40, 0.8);
    cursor: pointer;
  }
}

.iconRow {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0.5 * $baseSizeVw 1 * $baseSizeVw;
  z-index: -1;
}

.iconRowWide {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 * $baseSizeVw 0.4 * $baseSizeVw;
  z-index: -1;
}

@media screen and (min-width: 720px) {
  .circleSection {
    margin-top: -4.5 * $baseSizePx;
  }

  .sectionTitle {
    font-size: 0.6 * $baseSizePx;
    padding: 0.22 * $baseSizePx;
  }

  .chart {
    top: 1.8 * $baseSizePx;
  }

  .circleDraw {
    height: 5.6 * $baseSizePx;
    padding: 0.22 * $baseSizePx;
    stroke-dashoffset: 3 * $baseSizePx;
    width: 5.6 * $baseSizePx;
  }

  .outer {
    stroke-width: 0.2 * $baseSizePx;
  }

  @keyframes showTop {
    from {
      stroke-dashoffset: 17 * $baseSizePx;
    }
  }

  .sectionTitleCircle {
    border-radius: 4 * $baseSizePx;
    font-size: 0.6 * $baseSizePx;
    height: 4 * $baseSizePx;
    line-height: 4 * $baseSizePx;
    padding: 0.22 * $baseSizePx;
    top: 7.1 * $baseSizePx;
    width: 4 * $baseSizePx;
  }

  .iconRow {
    padding: 0.5 * $baseSizePx 1 * $baseSizePx;
    width: 8 * $baseSizePx;
  }

  .iconRowWide {
    padding: 0 * $baseSizePx 0.4 * $baseSizePx;
    width: 9.2 * $baseSizePx;
  }
}
