.circleSection {
  margin-top: -45vw;
  z-index: -1; }

.titleSection {
  padding: 4vw 0; }

.sectionTitle {
  font-family: 'Acme', sans-serif;
  font-size: 6vw;
  padding: 2.2vw;
  text-align: center; }
  .sectionTitle:hover {
    background: rgba(40, 40, 40, 0.8);
    cursor: pointer; }

.sectionOpen {
  font-family: 'Acme', sans-serif; }

.chart {
  display: inline-flex;
  justify-content: center;
  margin: 0 auto;
  opacity: 0.8;
  position: relative;
  text-align: center;
  top: 18vw;
  width: 100%;
  z-index: -1; }

.circleDraw {
  animation: showTop 1s;
  height: 55vw;
  padding: 2.2vw;
  position: absolute;
  margin: 0 auto;
  stroke-dashoffset: 30vw;
  transform: rotate(360deg);
  width: 55vw;
  z-index: -1; }

.outer {
  animation-play-state: running;
  cx: 28vw;
  cy: 26vw;
  fill: transparent;
  opacity: 0.8;
  stroke: #FFFFFF;
  stroke-width: 2vw;
  stroke-dasharray: 170vw;
  transition: stroke-dashoffset 4.5s;
  r: 27vw;
  z-index: -1; }

@keyframes showTop {
  from {
    stroke-dashoffset: 170vw; } }

.sectionTitleCircle {
  border-radius: 40vw;
  display: block;
  font-family: 'Acme', sans-serif;
  font-size: 6vw;
  height: 40vw;
  line-height: 40vw;
  margin: 0 auto;
  padding: 2.2vw;
  position: relative;
  text-align: center;
  top: 71vw;
  width: 40vw;
  z-index: 1; }
  .sectionTitleCircle:hover {
    background: rgba(40, 40, 40, 0.8);
    cursor: pointer; }

.iconRow {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 5vw 10vw;
  z-index: -1; }

.iconRowWide {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0vw 4vw;
  z-index: -1; }

@media screen and (min-width: 720px) {
  .circleSection {
    margin-top: -324px; }
  .sectionTitle {
    font-size: 43.2px;
    padding: 15.84px; }
  .chart {
    top: 129.6px; }
  .circleDraw {
    height: 396px;
    padding: 15.84px;
    stroke-dashoffset: 216px;
    width: 396px; }
  .outer {
    animation-play-state: running;
    cx: 201.6px;
    cy: 187.2px;
    stroke-width: 14.4px;
    stroke-dasharray: 1224px;
    r: 194.4px; }
  @keyframes showTop {
    from {
      stroke-dashoffset: 1224px; } }
  .sectionTitleCircle {
    border-radius: 288px;
    font-size: 43.2px;
    height: 288px;
    line-height: 288px;
    padding: 15.84px;
    top: 511.2px;
    width: 288px; }
  .iconRow {
    padding: 36px 72px;
    width: 576px; }
  .iconRowWide {
    padding: 0px 28.8px;
    width: 662.4px; } }
