$baseSizeVw: 10vw;
$baseSizePx: 72px;

.circleSection {
  text-align: center;
  z-index: -1;
}

.titleSection {
  padding: 0.4 * $baseSizeVw 0;
}

.sectionTitle {
  font-family: 'Acme', sans-serif;
  font-size: 0.6 * $baseSizeVw;
  padding: 0.22 * $baseSizeVw;
  text-align: center;

  &:hover {
    background: rgba(40, 40, 40, 0.8);
    cursor: pointer;
  }
}

.sectionOpen {
  font-family: 'Acme', sans-serif;
  margin-top: -1.5 * $baseSizeVw;
}

.chart {
  display: inline-flex;
  justify-content: center;
  margin: 0 auto;
  opacity: 0.8;
  position: relative;
  text-align: center;
  top: -0.7 * $baseSizeVw;
  width: 100%;
  z-index: -1;
}

.circleDraw {
  animation: showTop 1s;
  height: 5.6 * $baseSizeVw;
  left: 50%;
  margin: 0 auto;
  padding: 0.22 * $baseSizeVw;
  position: absolute;
  stroke-dashoffset: 4 * $baseSizeVw;
  text-align: center;
  transform: rotate(360deg) translate(-50%);
  width: 5.6 * $baseSizeVw;
  z-index: -1;
}

.outer {
  animation-play-state: running;
  fill: transparent;
  margin: 0 auto;
  opacity: 0.8;
  stroke: #FFFFFF;
  stroke-width: 0.2 * $baseSizeVw;
  transition: stroke-dashoffset 4s;
  z-index: -1;
}

@keyframes showTop {
  from {
    stroke-dashoffset: 17 * $baseSizeVw;
  }
}

.centerTitlePentagon {
  border-radius: 4 * $baseSizeVw;
  display: block;
  font-family: 'Acme', sans-serif;
  font-size: 0.6 * $baseSizeVw;
  height: 4 * $baseSizeVw;
  line-height: 4 * $baseSizeVw;
  margin: 0 auto;
  padding: 0.22 * $baseSizeVw;
  position: relative;
  text-align: center;
  top: 3.1 * $baseSizeVw;
  width: 4 * $baseSizeVw;
  z-index: 1;

  &:hover {
    background: rgba(40, 40, 40, 0.8);
    cursor: pointer;
  }
}

.iconRowTop {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: -3 * $baseSizeVw;
  padding: 0;
  padding-top: 0.5 * $baseSizeVw;
  z-index: -1;
}

.iconRowMiddle {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0.3 * $baseSizeVw 0.6 * $baseSizeVw 0.5 * $baseSizeVw 0.6 * $baseSizeVw;
  z-index: -1;
}

.iconRowBottom {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding-top: 0.5 * $baseSizeVw;
  z-index: -1;
}

@media screen and (min-width: 720px) {
  .sectionTitle {
    font-size: 0.6 * $baseSizePx;
    padding: 0.22 * $baseSizePx;
  }

  .sectionOpen {
    margin-top: -1.5 * $baseSizePx;
  }

  .chart {
    top: -0.7 * $baseSizePx;
  }

  .circleDraw {
    height: 5.6 * $baseSizePx;
    padding: 0.22 * $baseSizePx;
    stroke-dashoffset: 4 * $baseSizePx;
    width: 5.6 * $baseSizePx;
  }

  .outer {
    stroke-width: 0.2 * $baseSizePx;
  }

  @keyframes showTop {
    from {
      stroke-dashoffset: 17 * $baseSizePx;
    }
  }

  .centerTitlePentagon {
    border-radius: 4 * $baseSizePx;
    font-family: 'Acme', sans-serif;
    font-size: 0.6 * $baseSizePx;
    height: 4 * $baseSizePx;
    line-height: 4 * $baseSizePx;
    padding: 0.22 * $baseSizePx;
    top: 3.1 * $baseSizePx;
    width: 4 * $baseSizePx;
  }


  .iconRowTop {
    margin-top: -3 * $baseSizePx;
    padding-top: 0.5 * $baseSizePx;
    width: 10 * $baseSizePx;
  }

  .iconRowMiddle {
    padding: 0.3 * $baseSizePx 0.6 * $baseSizePx 0.5 * $baseSizePx 0.6 * $baseSizePx;
    width: 8.8 * $baseSizePx;
  }

  .iconRowBottom {
    padding-top: 0.5 * $baseSizePx;
    width: 10 * $baseSizePx;
  }
}
