.circleSection {
  text-align: center;
  z-index: -1; }

.titleSection {
  padding: 4vw 0; }

.sectionTitle {
  font-family: 'Acme', sans-serif;
  font-size: 6vw;
  padding: 2.2vw;
  text-align: center; }
  .sectionTitle:hover {
    background: rgba(40, 40, 40, 0.8);
    cursor: pointer; }

.sectionOpen {
  font-family: 'Acme', sans-serif;
  margin-top: -15vw; }

.chart {
  display: inline-flex;
  justify-content: center;
  margin: 0 auto;
  opacity: 0.8;
  position: relative;
  text-align: center;
  top: -7vw;
  width: 100%;
  z-index: -1; }

.circleDraw {
  animation: showTop 1s;
  height: 56vw;
  left: 50%;
  margin: 0 auto;
  padding: 2.2vw;
  position: absolute;
  stroke-dashoffset: 40vw;
  text-align: center;
  transform: rotate(360deg) translate(-50%);
  width: 56vw;
  z-index: -1; }

.outer {
  animation-play-state: running;
  fill: transparent;
  margin: 0 auto;
  opacity: 0.8;
  stroke: #FFFFFF;
  stroke-width: 2vw;
  transition: stroke-dashoffset 4s;
  z-index: -1; }

@keyframes showTop {
  from {
    stroke-dashoffset: 170vw; } }

.centerTitlePentagon {
  border-radius: 40vw;
  display: block;
  font-family: 'Acme', sans-serif;
  font-size: 6vw;
  height: 40vw;
  line-height: 40vw;
  margin: 0 auto;
  padding: 2.2vw;
  position: relative;
  text-align: center;
  top: 31vw;
  width: 40vw;
  z-index: 1; }
  .centerTitlePentagon:hover {
    background: rgba(40, 40, 40, 0.8);
    cursor: pointer; }

.iconRowTop {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: -30vw;
  padding: 0;
  padding-top: 5vw;
  z-index: -1; }

.iconRowMiddle {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 3vw 6vw 5vw 6vw;
  z-index: -1; }

.iconRowBottom {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding-top: 5vw;
  z-index: -1; }

@media screen and (min-width: 720px) {
  .sectionTitle {
    font-size: 43.2px;
    padding: 15.84px; }
  .sectionOpen {
    margin-top: -108px; }
  .chart {
    top: -50.4px; }
  .circleDraw {
    height: 403.2px;
    padding: 15.84px;
    stroke-dashoffset: 288px;
    width: 403.2px; }
  .outer {
    stroke-width: 14.4px; }
  @keyframes showTop {
    from {
      stroke-dashoffset: 1224px; } }
  .centerTitlePentagon {
    border-radius: 288px;
    font-family: 'Acme', sans-serif;
    font-size: 43.2px;
    height: 288px;
    line-height: 288px;
    padding: 15.84px;
    top: 223.2px;
    width: 288px; }
  .iconRowTop {
    margin-top: -216px;
    padding-top: 36px;
    width: 720px; }
  .iconRowMiddle {
    padding: 21.6px 43.2px 36px 43.2px;
    width: 633.6px; }
  .iconRowBottom {
    padding-top: 36px;
    width: 720px; } }
