.circleSection {
  margin-top: -45vw;
  z-index: -1; }

.titleSection {
  margin: 2vw 0;
  padding: 2vw 0; }

.sectionTitle {
  font-family: 'Pacifico', cursive;
  font-size: 5vw;
  padding: 2.2vw;
  text-align: center; }
  .sectionTitle:hover {
    background: rgba(40, 40, 40, 0.8);
    cursor: pointer; }

.sectionTitlePentagon {
  border-radius: 40vw;
  display: block;
  font-family: 'Pacifico', cursive;
  font-size: 5vw;
  height: 40vw;
  line-height: 40vw;
  margin: 0 auto;
  padding: 2.2vw;
  position: relative;
  text-align: center;
  top: 75vw;
  width: 40vw;
  z-index: 1; }
  .sectionTitlePentagon:hover {
    background: rgba(40, 40, 40, 0.8);
    cursor: pointer; }

.iconRow {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 5vw 0vw 0vw 0vw;
  width: 100vw;
  z-index: -1; }

.iconRowMedium {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0vw 6vw 7vw 6vw;
  width: 88vw;
  z-index: -1; }

@media screen and (min-width: 720px) {
  .circleSection {
    margin-top: -324px; }
  .sectionTitle {
    font-size: 36px;
    padding: 15.84px; }
  .sectionTitlePentagon {
    border-radius: 288px;
    font-size: 36px;
    height: 288px;
    line-height: 288px;
    padding: 15.84px;
    top: 540px;
    width: 288px; }
  .iconRow {
    padding: 50.4px 0px 0px 0px;
    width: 720px; }
  .iconRowMedium {
    padding: 0px 43.2px 36px 43.2px;
    width: 633.6px; } }
