$baseSizeVw: 10vw;
$baseSizePx: 72px;

.titleSection {
  padding: 0.4 * $baseSizeVw 0;
}

.sectionTitle {
  font-family: 'Acme', sans-serif;
  font-size: 0.6 * $baseSizeVw;
  padding: 0.22 * $baseSizeVw;
  text-align: center;

  &:hover {
    background: rgba(40, 40, 40, 0.8);
    cursor: pointer;
  }
}

@media screen and (min-width: 720px) {
  .sectionTitle {
    font-size: 0.6 * $baseSizePx;
    padding: 0.22 * $baseSizePx;
  }
}

.iconRow {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5 * $baseSizeVw;
  width: 9 * $baseSizeVw;
  z-index: -1;
}
