.titleSection {
  padding: 4vw 0; }

.sectionTitle {
  font-family: 'Acme', sans-serif;
  font-size: 6vw;
  padding: 2.2vw;
  text-align: center; }
  .sectionTitle:hover {
    background: rgba(40, 40, 40, 0.8);
    cursor: pointer; }

@media screen and (min-width: 720px) {
  .sectionTitle {
    font-size: 43.2px;
    padding: 15.84px; } }

.iconRow {
  display: flex;
  justify-content: space-evenly;
  padding: 5vw;
  width: 90vw;
  z-index: -1; }
