.tile {
  align-items: center;
  background: radial-gradient(circle farthest-side at center, white 0%, #444444 100%);
  border-radius: 20vw;
  display: flex;
  font-family: Helvetica;
  height: 20vw;
  padding: 2vw;
  width: 20vw; }

.overlay {
  background: none;
  border-radius: 20vw;
  bottom: 0vw;
  color: transparent;
  display: block;
  height: 20vw;
  left: 4vw;
  line-height: 20vw;
  margin-left: -20vw;
  position: relative;
  text-align: center;
  width: 20vw; }
  .overlay:hover {
    background: radial-gradient(circle farthest-side at center, black 40%, #555555 100%);
    cursor: pointer;
    color: white;
    opacity: 0.9; }

.name {
  display: inline-block;
  font-size: 3vw;
  line-height: normal;
  vertical-align: middle; }

.image {
  margin-left: 4vw;
  width: 12vw; }

@media screen and (min-width: 720px) {
  .tile {
    border-radius: 144px;
    height: 144px;
    padding: 14.4px;
    width: 144px; }
  .overlay {
    border-radius: 144px;
    height: 144px;
    left: 28.8px;
    line-height: 144px;
    margin-left: -144px;
    width: 144px; }
  .name {
    font-size: 21.6px; }
  .image {
    margin-left: 28.8px;
    width: 86.4px; } }
